//Import Styles
@import 'base.less';
@import 'socialicons.less';
@import 'patterns.less';

//Custom styles
html,
body {
	width: 100%;
	height: 100%;
}

.vert-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

// /* Header*/

// .header {
// 	display: table;
// 	height: 110px;
// 	width: 100%;
// 	position: relative;
// 	background: @stardust;
// 	h1 {
// 		text-align: center;
// 		font-family: @font-family-fbs;
// 		font-size: 55px;
// 		color: #fff;
// 	}
// }

h1 {
	text-align: center;
	font-family: @font-family-fbs;
	font-size: 70px;
	color: #fff;
	margin-bottom: 20px;
}

//  Generator 

.generator {
	display: table;
	height: 100%;
	width: 100%;
	position: relative;
	text-align: center;
	padding: 50px 0px;
	background: url('/assets/img/backgrounds/Salon_de_Madame_Geoffrin.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	.panel {
		height: 65px;
		margin-bottom: 5px;
		h2 {
			color: #333;
			margin-top: 15px;
		}
	}
}

.generator-form {
	text-align: center;
	button {
		margin-top: 5px;
	}
}

.generator-share {
	margin-top: 200px;
	h4 {
		margin-top: 0;
	}
}

#darkbox {
	display: inline-block;
	border-radius: 6px;
	padding: 10px 16px;
	background: rgba(0,0,0,.5);
}

// /* Footer */

footer {
  padding: 100px 0;
  color: black;
  background: @debut_light;
}

@media (max-width: 480px) {
	.generator {
		.panel {
			height: 65px;
			h2 {
				font-size: 18px;
				margin-top: 22px;
			}
		}
	}
}